body {
	background-color: #DCDCDC;
	min-width: 800px;	
	margin-left: 3%;
	margin-right: 3%;
	position: relative;
	padding: 20px;
   font-family: "Verdana", sans-serif;
}
img {
	width: 200px;
	height: 180px;
	border-radius: 5px;
}
table {
	border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 10pt;
    width: 50%;
}
p	{
	font-size: 11pt;
}

table #category {
  background: #9F9FA0; 
  text-align: center; 
  
}

table #measure {
  background: #9F9FA0; 
  text-align: center; 
}

td {
	min-width: 70px;
	max-width: 100px;
}

tr {
	height: 30px;
}


h1{
	color: #00806F;
	display: inline;
	font-size: 50px;
}
h2 {
	color: #00806F;
}

h3 {
	color: #1D2F74;
}
